<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Aujourd'hui</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="students" href="/students">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Eleves</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="journal" href="/journal">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Reglages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
